* {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    /* word-break: break-all; */
}

body {
    /* overflow: hidden; */
    background-color: rgb(246 246 252);
}
h1 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #1450A3;
    
}
h3 {
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
    color: #940686;
    word-break: break-all;
}
hr {
    margin: 20px;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    /* margin: 50px; */
}

.container {
    /* width: 100%; */
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px ;
    width: 70%;
    /* height: 100vh; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}
.feedback {
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    
    border: 3px solid #1450A3;
    border-radius: 15px;
    font-size: 15px;
    
    background-color: #fff;
    padding: 50px;
    width: 20em;
    /* color: #1450A3; */
    margin-bottom: 30px;
    
    box-shadow: 0px 0px 10px #0000005c;
    
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1450A3;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.image p{
    font-family: Poppins;
    text-align: center;
    color: #940686;
    font-size: 30px;
    margin-top: -50px;
}
label {
    font-size: 15px;
    text-align: left;
}